
/* #region common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* color palette */
:root{
    --resp-primary:rgba(151, 146, 228, 1);
    --resp-secondary:rgba(0, 132, 253, 1);
    --resp-dark: rgba(51, 51, 51, 1);
    --resp-light:rgba(255, 255, 255, 1);
    --resp-accent:rgba(253, 193, 95, 1);
    --resp-lighter:rgba(181, 221, 255, 1);
}



/* #region Debug */

.debug header{
    height: 50px;
}



/* #endregion Debug */

body{
    font-family: 'PT Sans', sans-serif;
}

img{
    display: block;
    max-width: 100%;
}

p{
    line-height: 2rem;
}

/* #endregion common */


/* #region Utilities */

    .container{
        width: 90%;
        max-width: 724px;
        margin: auto;
        
    }

    .row{
        display: flex;
        flex-wrap: wrap;
        padding:  2rem 0;
        justify-content: space-between;
        gap: 1rem;
        margin: 0 1rem;
    }

    .col-12{
        width: 100%;
    }

    .card{
        border-radius: 30px;
        padding: 0 1rem;
    }

    .btn{
        background-color: white;
        border-radius: 20px;
        color: black;
        padding: 0.35rem 0.7rem;
    }

    .container-sm{
        margin: auto;
        
    }

    .text-align{
        text-align: center;
    }

    .btn-sm{
        display: inline-block;
        width: 40%;
        background-color: var(--resp-primary);
        color: white;
        text-align: center;
        text-decoration: none;
        padding: 0.5rem .8rem;
        border-radius: 20px;
    }

    .btn-white{
        display: inline-block;
        width: 20%;
        background-color: var(--resp-light);
        color: var(--resp-primary);
        text-align: center;
        text-decoration: none;
        padding: 0.5rem .8rem;
        border-radius: 20px;
        margin: 2rem 0;
    }

    .white{
        color: var(--resp-light);
    }

    .width-40{
        width: 100%;
    }
/* #endregion Utilities */

/* #region Header */

header{
    background-color: var(--resp-secondary);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a{
    text-decoration: none;
    color: white;
    
}

.menu-lg{
    display: none;
}

.menu-lg > a{
    margin-left: 1rem;

}

.logo img{
    max-width: 100%;
    display: block;
    width: 50%;
    padding: 0.8rem 0;
}

/* #endregion Header */

/* #region main */

    #plan ,#benefits , #start{
        background-color: var(--resp-primary);
    }

    #demo .card{
        background-color: var(--resp-lighter);
    }

    #testimonials .card{
        background-color: var(--resp-primary);
    }

    /* #region demo */

    .top-c > h3, .container-sm > h3{
        color: var(--resp-secondary);
        padding: 2rem 0;
    }

    .btn-lg{
        text-decoration: none;
        color: var(--resp-light);
        background-color: var(--resp-secondary);
        border-radius: 20px;
        padding: 0.5rem 0.8rem;
        display: block;
        width: 70%;
    }

    .button{
        text-align: center;
        padding: 2rem 0;
    }

    .phone > img{
        max-width: 100%;
        width: 100%;
        display: block;
        
    }

    .container-sm > i{
        font-size: 80px;
        display: block;
        color: var(--resp-secondary);
        padding: 2rem 0 1rem 0;
    }

    .container-sm > p{
        padding-bottom: 2rem;
    }

    /* #endregion demo */

    /* #region plan */
    
    .strategic{
        color: var(--resp-light);
    }

    .strategic h3 , .strategic p{
        padding: 2rem 0;

    }

    .card-white{
        background-color: var(--resp-light);
    }

    .card-white i{
        color: var(--resp-dark);
        font-size: 1.2rem;
        padding: 2rem;
    }

    .card-white h3{
        color: black
    }

    .background-color{
        background-color: var(--resp-primary);
        display: inline-block;
        border-radius: 50%;
        aspect-ratio: 1;
        margin-bottom: 2rem;
    }

    /* #endregion plan */

    /* #region testimonials */

    .top-text{
        padding-top: 2rem;
    }

    .top-text h3{
        color: var(--resp-primary);
        padding: 1rem 0;
    }

    .quote{
        color: var(--resp-light);
    }

    .pic{
        width: 80%;
        margin: auto;
        padding: 2.5rem;
        position: relative;
    }

    .pic > img{
        aspect-ratio: 1;
        border-radius: 50%;
        object-fit: cover;
        
    }


    

    /* #endregion testimonials */

    /* #region benefits */

    #benefits h2{
        color: var(--resp-light);
        text-align: center;
        padding: 2rem 0;
    }

    .with h3, .with h4{
        color: var(--resp-primary);
        font-size: xx-large;
        padding-bottom: 1rem;
    }

    .with h3{
        font-size: xxx-large;
    }

    .with p{
        padding-bottom: 1.5rem;
    }

    .with{
        padding:1rem 1rem 2rem;
    }

    #benefits .card-white{
        height: 100%;
    }
    

    /* #endregion benefits */

    /* #region about */

    .text-right > .pic{
        padding: 0;
        margin: 0;
        width: 50%;
        padding: 2rem 0;
    }

    .pic span{
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 5rem;
    }

    .text-left h2, .text-right span, .text-right h3{
        color: var(--resp-primary);
        padding: 1rem 0;
    }

    .text-left h2{
        font-size: xx-large;
    }

    .text-right h3{
        font-size: x-large;
    }

    .text-right .btn-sm{
        font-size: 1rem;
        width: 60%;
    }

    .text-left p{
        padding: 2rem 0;
    }

    /* #endregion about */

    /* #region start */

        #start{
            color: var(--resp-light);
            padding: 2rem 0;
        }

        #start h2{
            color: var(--resp-accent);
            font-size: xxx-large;
            padding: 1rem 0;
        }

        #start h3{
            font-size: xx-large;
        }

        #start h4{
            color: lightgray;
            font-weight: 500;
        }

        #start a{
            padding: 1rem 0;
        }




    /* #endregion start */

/* #endregion main */

/* #region footer */

    footer{
        background-color: var(--resp-dark); 
        color: var(--resp-light);
        padding-bottom: 3rem;
    }

    footer p{
        line-height: 1rem;
        padding: 2rem 0;
        
    }

/* #endregion footer */

/* #region hover */
    .menu-lg a:hover{
        border-bottom: 1px solid var(--resp-lighter) 
    }
/* #endregion hover */

/* #region @media */
@media screen and (min-width:768px) {
    
    #demo .row{
        justify-content: space-between;
        gap: 1rem;
    }

    #demo .card{
        height: 100%;
    }

    .col-md-4{
        width: calc((100% / 12)*4);
        margin: 0 -1rem;
    }

    .col-md-6{
        width: calc((100% / 12)*6);
        margin: 0 -1rem;
    }
    

    .col-md-8{
        width: calc((100% / 12)*8);
        margin: 0 -1rem;
    }


    .phone{
        width: 100%;
    }
    
    .people{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .pic{
        width: 20%;
        padding: 2rem 1rem;
    }

    .quote{
        width: 80%;
        padding: 2rem;
        text-align: left;
    }

    .text-right > .pic{
        width: 100%;
    }

}

@media screen and (min-width:992px) {
    .container{
        max-width: 944px;
    }

    .col-lg-4{
        width: calc((100% / 12)*4);
        
    }

    .col-lg-6{
        width: calc((100% / 12)*6);
        margin: 0 -1rem;
    }

    .large{
        display: flex;
        justify-content: space-between;
    }

    .margin-lg{
        margin: 10rem 5rem 0;
    }

    .top-c{
        width: 60%;
    }

    .phone{
        width: 40%;
        align-self: flex-end;
    }

    .container-sm{
        height: 100%;
    }

    .menu-sm{
        display: none;
    }

    .menu-lg{
        display: block;
    }
}

@media screen and (min-width:1200px){
    .container{
        max-width: 1152px;
    }
}

/* #endregion @media */