
/* #region common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* color palette */
:root{
    --resp-primary:rgba(151, 146, 228, 1);
    --resp-secondary:rgba(0, 132, 253, 1);
    --resp-dark: rgba(51, 51, 51, 1);
    --resp-light:rgba(255, 255, 255, 1);
    --resp-accent:rgba(253, 193, 95, 1);
    --resp-lighter:rgba(181, 221, 255, 1);
}



/* #region Debug */

.debug header{
    height: 50px;
}



/* #endregion Debug */

body{
    font-family: 'Open Sans', sans-serif;
}

img{
    display: block;
    max-width: 100%;
}

/* #endregion common */


/* #region Utilities */

    .container{
        width: 90%;
        max-width: 724px;
        margin: auto;
        
    }

    .row{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1rem;
    }

    .col-12{
        width: 100%;
        padding: 0 1rem;
    }

    .card{
        border-radius: 30px;
        margin: 2rem 0;
    }

    .btn{
        background-color: white;
        border-radius: 20px;
        color: black;
        padding: 0.35rem 0.7rem;
    }

    .container-sm{
        width: 90%;
        margin: auto;
        
    }

    .text-align{
        text-align: center;
    }

/* #endregion Utilities */

/* #region Header */

header{
    background-color: var(--resp-secondary);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a{
    text-decoration: none;
    color: white;
    
}

.menu-lg{
    display: none;
}

.menu-lg > a{
    margin-left: 1rem;
}

.logo img{
    max-width: 100%;
    display: block;
    width: 50%;
    padding: 0.8rem 0;
}

/* #endregion Header */

/* #region main */

    #plan ,#benefits , #start{
        background-color: var(--resp-primary);
    }

    #demo .card{
        background-color: var(--resp-lighter);
    }

    #testimonials .card{
        background-color: var(--resp-primary);
    }

    /* #region demo */

    .top-c > h3, .container-sm > h3{
        color: var(--resp-secondary);
        padding: 2rem 0;
    }

    .btn-lg{
        text-decoration: none;
        color: var(--resp-light);
        background-color: var(--resp-secondary);
        border-radius: 20px;
        padding: 0.5rem 0.8rem;
        display: block;
        width: 70%;
    }

    .button{
        text-align: center;
        padding: 2rem 0;
    }

    .phone > img{
        max-width: 100%;
        width: 100%;
        display: block;
        
    }

    .container-sm > i{
        font-size: 80px;
        display: block;
        color: var(--resp-secondary);
        padding: 2rem 0 1rem 0;
    }

    .container-sm > p{
        padding-bottom: 2rem;
    }

    /* #endregion demo */

    /* #region plan */
    
    .strategic{
        color: var(--resp-light);
    }

    .strategic h3 , p{
        padding: 2rem 0;

    }

    .card-white{
        background-color: var(--resp-light);
    }

    .card-white i{
        color: var(--resp-dark);
        font-size: 1.2rem;
        padding: 2rem;
    }

    .background-color{
        background-color: var(--resp-primary);
        display: inline-block;
        border-radius: 50%;
        aspect-ratio: 1;
        margin-bottom: 2rem;
    }

    /* #endregion plan */

    /* #region testimonials */

    .top-text{
        padding-top: 2rem;
    }

    .top-text h3{
        color: var(--resp-primary);
        padding: 1rem 0;
    }

    .quote{
        color: var(--resp-light);
    }

    .pic{
        width: 80%;
        margin: auto;
        padding-top: 1rem;
    }

    .pic > img{
        aspect-ratio: 1;
        border-radius: 50%;
        
    }

    

    /* #region testimonials */

/* #endregion main */

/* #region footer */

    footer{
        background-color: var(--resp-dark); 
        color: var(--resp-light);
    }

/* #endregion footer */

/* region @media */
@media screen and (min-width:768px) {
    
    .col-md-4{
        width: calc((100% / 12)*4);
    }

    .col-md-6{
        width: calc((100% / 12)*6);
    }
    

    .col-md-8{
        width: calc((100% / 12)*8);
    }
    
}

@media screen and (min-width:1024px) {
    .container{
        max-width: 976px;
    }

    .col-lg-4{
        width: calc((100% / 12)*4);
    }

    .col-lg-6{
        width: calc((100% / 12)*6);
    }

    .large{
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    .menu-sm{
        display: none;
    }

    .menu-lg{
        display: block;
    }
}